body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  min-width: 400px;
}
button {
  background-color: #5f9341;
  color: white;
  margin: 5px 0;
  padding: 10px;
  border: none;
}
input {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 10px;
  border: #5f9341 1px solid;
  font-weight: bold;
}
ul {
  padding-left: 0;
  margin-top: 20px;
}
li {
  list-style-type: none;
  line-height: 20px;
  font-size: 20px;
  margin-bottom: 5px;
}
a {
  color: #5f9341;
}
#clear-btn {
  background-color: white;
  color: #5f9341;
  border: 1px solid #5f9341;
  font-weight: bold;
}
